<div class="validator">
    <div class="input-element">
        <div class="label">
            Street: 
        </div>
        <div *ngIf="!streetValueIsSet" class="error-message-element">
            {{requiredMessage}}
        </div>
        <input [(ngModel)]="address.street" placeholder="Street">
    </div>    
    <div class="input-element">
        <div class="label">
            Street No: 
        </div>
        <div *ngIf="!numberValueIsSet" class="error-message-element">
            {{requiredMessage}}
        </div>
        <input [(ngModel)]="address.streetNumber" placeholder="Street No.">
    </div>
    <div class="input-element">
        <div class="label">
            Street No: 
        </div>
        <div *ngIf="!cityValueIsSet" class="error-message-element">
            {{requiredMessage}}
        </div>
        <input [(ngModel)]="address.city" placeholder="City">
    </div>
    <div class="input-element">
        Postocde:
        <input [(ngModel)]="address.postcode" placeholder="Postcode">
    </div>
    <div class="button-element">
        <button (click)="validateAddress(address)">Check Address!</button>
    </div>
    <div *ngIf="showMessage" class="message-element">
        {{message}}
    </div>

</div>

    