<div class="validator">
    <div class="input-element">
        <div class="label">
            Street 
        </div>
        <div *ngIf="!streetValueIsSet" class="error-message-element">
            Field must not be empty!
        </div>
        <input [(ngModel)]="address.street" placeholder="Street" (keyup.enter)="validateAddress(address)">
    </div>    
    <div class="input-element">
        <div class="label">
            Street No 
        </div>
        <div *ngIf="!numberValueIsSet" class="error-message-element">
            Field must not be empty!
        </div>
        <input [(ngModel)]="address.streetNumber" placeholder="Street No." (keyup.enter)="validateAddress(address)">
    </div>
    <div class="input-element">
        <div class="label">
            Postcode
        </div>
        <div class="optional">
            (optional)
        </div>
        <input [(ngModel)]="address.postcode" placeholder="Postcode" (keyup.enter)="validateAddress(address)">
    </div>
    <div class="input-element">
        <div class="label">
            City
        </div>
        <div class="optional">
            (optional)
        </div>
        <input [(ngModel)]="address.city" placeholder="City" (keyup.enter)="validateAddress(address)">
    </div>
    <div class="button-element">
        <button (click)="validateAddress(address)">Check Address!</button>
    </div>
    <div *ngIf="showSuccessMessage" class="message-element">
        <span><span class="fa fa-check" style="font-size:35px;color:green"></span>  Address is valid!</span>
    </div>
    <div *ngIf="showFailMessage" class="message-element">
        <span><span class="fa fa-close" style="font-size:35px;color:red"></span>  Address is invalid!</span>
    </div>
</div>

    